@font-face {
    font-display: swap;
    font-family: 'Street Robot Inline Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Street Robot Inline Regular'), url('Street-Robot-Inline.woff') format('woff');
}

h1 {
    font-family: 'Street Robot Inline Regular';
    font-weight: 200;
    color: darkviolet;
}